<body>
  <div class="center">
    <h1>Signup</h1>
    <form #form="ngForm" (ngSubmit)="form.valid&&onSubmit()">
      <div class="txt_field">
        <input type="text" name="fullName" #fullName="ngModel" [(ngModel)]="registerUserData.fullName" required>
        <span></span>
        <label>Full Name</label>
        <label class="text-danger" *ngIf="form.submitted&&fullName.errors?.['required']">Full Name required</label>
      </div>
      
      <div class="txt_field">
          <input type="text" name="email" #email="ngModel" [(ngModel)]="registerUserData.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <span></span>
          <label>Email</label>
          <label class="text-danger" *ngIf="form.submitted&&email.errors?.['required']">Email required</label>
          <!-- <label class="text-danger" *ngIf="form.submitted&&email.errors?.['pattern']">Invalid Email Id</label> -->
        </div>
        
        <div class="txt_field">
          <input type="number" name="phoneNo" #phoneNo="ngModel" [(ngModel)]="registerUserData.phoneNo" pattern="^((\\+91-?)|0)?[0-9]{10}$"  required>
          <span></span>
          <label>Phone number</label>
          <label class="text-danger" *ngIf="form.submitted&&phoneNo.errors?.['required']">Phone number required</label>
        <!-- <label class="text-danger" *ngIf="form.submitted&&phone.errors?.['pattern']">Invalid Phone Number</label> -->
        </div>

        <div>
          <label for="user">I'am a:</label>
         <select id ="user" name = "userType" #userType="ngModel"[(ngModel)]="registerUserData.userType">
          <option value="student" name="userType" >Student</option>
          <option value="trainer" name="userType" >Trainer</option>
         </select>
        </div>
        
      <div class="txt_field">
        <input type="password" name="password" #password="ngModel" [(ngModel)]="registerUserData.password" required>
        <span></span>
        <label>Password</label><br>
        <label class="text-danger" *ngIf="form.submitted&&password.errors?.['required']">Password required</label>
      </div>
      <div class="txt_field">
          <input type="password"  name="repeatPassword" #repeatPassword="ngModel" [(ngModel)]="registerUserData.repeatPassword" required> 
          <span></span>
          <label>Confirm Password</label><br>
        </div>
         <input (click)="signup()" type="submit" value="Signup"><br><br>
        <div class="login_link">
         <p>Already a member? <a routerLink="/login">Login</a></p>
        </div>
    </form>
  </div>
</body>