.content{
    width: 1000px;
    max-height: 100%;
    background-color: #fff;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30px;
}

p{
    padding: 30px;
}

#list{
    padding: 40px;
}

.title{
    text-align: center;
    margin-right: 20px;
}

#banme{
    padding: 30px;
}

h3{
    /* margin-right: 60px;
    padding: 5px; */
}

.button{
  text-align: right;
  padding: 30px;
}

.btn-danger{
  margin-left: 15px;
}

body{
    background-color: linear-gradient(120deg,#2980b9,#8e44ad);
}

select {
    /* margin: 50px; */
    width: 250px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    margin-right: 20px;
    border-radius: 5px;
  }
  
  select::-ms-expand {
      display: none; 
  }
  
  @media screen and (min-width:0\0) {
      select {
          background: none\9;
          padding: 5px\9;
      }
  }

  .imgContainer img{
    width:400px;
    height: 300px;
    /* overflow: hidden; */
  }
