.content{
    width: 1000px;
    max-height: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30px;
}

p{
    padding: 30px;
}

#list{
    padding: 40px;
}

.title{
    text-align: center;
}

#banme{
    padding: 30px;
}

h3{
    margin-right: 60px;
    padding: 5px;
}

.button{
  text-align: right;
  padding: 30px;
}

.btn-danger{
  margin-left: 15px;
}

body{
    background-color: linear-gradient(120deg,#2980b9,#8e44ad);
}
