<app-header></app-header>
<div class="col-md-12">
<div class="bg">
    <h3 class="title">Pending Blogs</h3>
    <div class="pages" *ngFor="let i of blogs">
        <div class="page">
            <h4 class="bname">{{i.title}}</h4>
            <h5>{{i.username}}</h5>
            <p>{{i.content}}</p>
        </div>
        <div class="button">
        <button id="acceptbtn" type="button" class="btn btn-success">Accept</button>
        <button type="button" class="btn btn-danger">Deny</button>
       </div>
    </div>
</div>
</div>

<app-footer></app-footer>