.menu{
    color: rgb(0, 0, 0);
    position: fixed;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.555);
}
.links{
    width: 100%;
    height: 200PX;

}
.links a{
    /* background-color: bisque; */
    /* margin-top: 150px; */
    text-decoration: none;
    /* padding-top: 10px; */
    /* margin-top: 15px; */
    /* padding-top: 10px; */
}

.line{
    width: 100%;
    height: 1px;
    /* color: black; */
    background-color: rgba(192, 192, 192, 0.395);
    margin: 10px 0px;
    /* margin-bottom: 10px; */
}

.links ul li{
    list-style: none;
    border-bottom: 1px solid rgba(163, 163, 163, 0.263);
    margin-left: -30px;
    margin-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 10px; */
}

