<!-- <p>home works!</p> -->

<header>
    <div class="card-header div">
        
        <div class="div2">
            <h2>{{title}}</h2>
            <!-- <p>⌣</p> -->
        </div>
        
            <button routerLink="/books"  class="btn btn-light"  data-mdb-ripple-color="dark">Blogs</button>
            
            <button routerLink="/add"  class="btn btn-light"  data-mdb-ripple-color="dark">Add Blog</button>

            <!-- <a *ngIf= "_auth.loggedIn()" (clcik)= "logoutUser()" >LogOut</a> -->
            <!-- <button *ngIf="_auth.loggedIn()" (click)="logoutUser()" class="btn btn-light"  data-mdb-ripple-color="dark">Logout</button> -->



    </div>
</header>
