/* input{
    width: 450px;
    min-height: 40px;
    max-height: fit-content;
    border: 1px solid black;
    margin-left: 50px;
}

#desc{
    height: 100px;
}

.card{
    width: 70%;
    margin-left: 15%;
    height: 700px;
    text-align: center;
    padding-top: 130px;
    background-color: rgba(182, 192, 193, 0.395);
    backdrop-filter: blur(10px);
}

.body{
    width: 100%;
    height: 720px;
    background-position:center;
    background-image: url(https://img.freepik.com/free-photo/book-stack-library-room-blurred-bookshelf-background_42691-514.jpg?w=2000);
}

.ilable{
    margin-left: -100px;
} */

.body{
    width: 100%;
    min-height: 95vh;
    max-height: fit-content;
    background-color: rgb(241, 241, 241);
    padding: 20px 0 20px 0; 
    display: grid;
    place-items: center;
}

form{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.addblogC{
    width: 80%;
    min-height: 100%;
    max-height: fit-content;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    /* transition: 2s; */

}

.addbody{
    width: 70%;
    min-height: 100%;
    max-height: fit-content;
    margin-left: -60px;
    /* border: 1px solid rebeccapurple; */
    background-color: rgb(255, 255, 255);
    padding: 20px 0 0 185px ;

    /* column-gap: 15px; */
}

.addbody label{
    margin-bottom: 10px;
    margin-top: auto;
    margin-top: auto;
}

.addbody input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    padding-left: 10px;
    outline: none;
    /* margin-bottom: 15px; */
    margin-top: 15px;
    border: none;
    /* margin-bottom: 30px; */
    border: .8px solid rgba(206, 206, 206, 0.689);
}

.addbody textarea{
    width: 80%;
    height: auto;
    outline: none;
    padding-left: 10px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;

    border: 1px solid rgba(206, 206, 206, 0.689);

}

.btn1{
    width: 100%;
    height: fit-content;
    /* display: flex; */
    /* border: 1px solid blue; */
    text-align: center;
    padding: 0  0 55px 10px;
}

.btn1 button{
    width: 80px;

}

#btnsubmit{
    background-color: rgba(36, 233, 36, 0.362);
    /* transform: 2s; */
    /* transition: .3s; */
}


#btnsubmit:hover{
    /* background-color: rgba(21, 226, 21, 0.9); */
    background-color: rgba(29, 163, 29, 0.789);

    color: white;
}

#btncancel{
    background-color: rgba(255, 0, 0, 0.429);
    /* transition: .3s; */

}

#btncancel:hover{
    background-color: rgba(215, 57, 57, 0.868);
    color: white;


}

.addbody h1{
    font-size: x-large;
    /* margin: 0; */
    margin-left: 170px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid gray; */
}

.small{
    /* margin-top: -150px; */
    margin-left: -15px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 0;
    /* transform: 2s; */
}

.img-space{
    margin: 15px 0 0 18px;
}