

  <div class="body">
    <form #addblog="ngForm"  (ngSubmit)="AddBlog()" ngNativeValidate >

      <div class="addblogC">

        <div class="addbody">
          <h1>Add your blog</h1>

          
          <!-- <label for="title">Blog Title</label><br> -->
          <input type="text" #title="ngModel"  name="title" minlength="10" maxlength="80"
           placeholder="write your blog title" name="Blogtitle" [(ngModel)]="newBlog.title" id="title" required>
           <br>
           <div *ngIf="title.invalid && title.touched">
             <small *ngIf="title.errors?.['required']" class="px-3 text-danger small">Title is required</small>
             <small class="px-3 text-danger small" *ngIf="title.errors?.['minlength']" >title shoud be minimum of 10 charecters</small> <br>
             <!-- <small class="px-3 text-danger small" *ngIf="title.errors?.['maxlength']" >title shoud be maximum of 80 words </small> -->
             <!-- <small class="px-3 text-danger success" *ngIf="title.valid['minlength']" >title looks great</small> <br> -->

           </div>


          <!-- <label for="author">Author name</label><br> -->
          <input type="text"   #blogauthor="ngModel" name="blogauthor" minlength="4" maxlength="15"
          placeholder="blog author name"  [(ngModel)]="newBlog.username" required  id="">
          <br>
          <div *ngIf="blogauthor.invalid && blogauthor.touched">
            <small *ngIf="blogauthor.errors?.['required']" class="px-3 text-danger small">Author name is required</small>
           <small class="px-3 text-danger small" *ngIf="blogauthor.errors?.['minlength']" >Author name shoud be minimum of 4 charecters</small> <br>
          </div>


          <!-- <label for="image">Blog image</label><br> -->
          <!-- <input type="text" name="title" placeholder="blog image url"  id=""><br> -->
          <!-- <input type="text" class="form-control" name="blogimage" id="formFile" placeholder="blog image" [(ngModel)]="newBlog.imageUrl" id=""><br> -->
          <!-- <div class="mb-2"> -->
            <!-- <label for="formFile" class="form-label">Default file input example</label> -->
            <input class="form-control form-control-lg" type="file" id="formFileLg" (change)="onFileSelect($event)" accept="image/*" required>
            <small class="text-danger">{{message}}</small>
            <div class="img-space" >
                <img [src]="cardImageBase64" style="width: 500px;height:200px;" />
            </div>
          <!-- </div> -->


          <!-- <label for="content">Blog content</label><br> -->
          <textarea type="text" #blogcont="ngModel" name="blogcont" minlength="600"  
          id="" cols="30" rows="10" placeholder="write your blog content" required  name="blogcontent" 
          [(ngModel)]="newBlog.content"></textarea> 
          <br>
          <div *ngIf="blogcont.invalid && blogcont.touched">
            <small *ngIf="blogcont.errors?.['required']" class="px-3 text-danger small">Blog content is required</small>
           <small class="px-3 text-danger small" *ngIf="blogcont.errors?.['minlength']" >blog content  should be minimum of 100 words</small> <br>
          </div>

        </div>

        <div class="btn1">
          <button id="btnsubmit" type="submit" class="btn btn-light" style="margin-right:30px;" [disabled]="addblog.form.invalid || imageupload===''" >Submit</button> 
          <button  id="btncancel" type="button" class="btn btn-light" onclick="history.back()" >Cancel</button>
        </div>


        </div>
      <!-- </div> -->
      <!-- </div> -->
    </form>

  </div>