<!-- <div class="body">
    <div class='card'>
      <form id="Form" (ngSubmit)="AddBlog()" ngNativeValidate >
        <div class='card-header' style="font-size:20px;">
          ADD BLOG
        </div>
        <div class='card-body'>            
          <div class='table-responsive'>
            <table class='table'>       
            
              <tbody>  
                
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" name="B_img" [(ngModel)]="newBlog.title"  required></td>                  
                      </tr>  
                      <tr>
                        <td><label>Username</label></td>
                        <td><input type="text" name="B_title" [(ngModel)]="newBlog.username"  required></td>                  
                      </tr>  
                      <tr>
                        <td><label >Blog content</label></td>
                        <td><input type="text" id="desc" name="B_content" class="Isize" [(ngModel)]="newBlog.content"  required ></td>                  
                      </tr>  
                      <tr>
                        <td></td>
                                       
                        <td><button id="Form" type="submit" class="btn btn-success" style="margin-right:30px ;" >Submit</button> 
                          <button routerLink="/books"  type="button" class="btn btn-danger">Cancel</button>  </td>  
                      </tr>  
                      
                      
              </tbody>
            </table>
          </div>
        </div>
    
    
      </form>
    </div>
   

  </div> -->

  <div class="body">

    <div class="addblogC">

      <div class="addbody">
        <label for="title">Blog Title</label><br>
        <input type="text" name="title" placeholder="write your blog title" id=""><br>

        <label for="title">Author name</label><br>
        <input type="text" name="title" placeholder="blog author name" id=""><br>

        <label for="title">Blog content</label><br>
        <!-- <input type="text" name="title" placeholder="write your blog content" id=""><br> -->
        <textarea name="content" id="" cols="30" rows="10" placeholder="write your blog content"></textarea>
      </div>

    </div>

  </div>