<div class="body">

   

    <div class="blogbody">
        <div class="backward"  (click)="backward()">
            <!-- onclick="history.back()" -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle back" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5
                 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
        </div>
        <div class="blogview" >
            <div class="blogimage">

                <!-- <img src="../../assets/images/sample.jfif" alt=""> -->
                <!-- <img [src]="blogdata.imageUrl" alt=""> -->
                <img src="{{'data:image/jpg;base64,' + blogdata.imageUrl}}" alt="">


            </div>

            <div class="blogheading">

                <!-- <h1>this should be the heading, that going to be from the home page of the blog</h1> -->
                <h1>{{blogdata.title}}</h1>

                 

            </div>

            <div class="blogcontent">

                <!-- <p>Generating random paragraphs can be an excellent way for writers to get their creative fl
                    ow going at the beginning of the day. The writer has no idea what topic the random parag
                    raph will be about when it appears. This forces the writer to use creativity to complete
                     one of three common writing challenges. The writer can use the paragraph as the first o
                     ne of a short story and build upon it. A second option is to use the random paragraph s
                     omewhere in a short story they create. The third option is to have the random paragraph
                      be the ending paragraph in a short story. No matter which of these
                     challenges is undertaken, the writer is forced to use creativity to incorporate the par
                     agraph into their writing.</p> -->
                     <p>{{blogdata.content}}</p>

            </div>

            <div class="blogauther">
                <!-- <p> -ashik</p> -->
                <p>👤{{blogdata.username}}</p>
            </div>

            <div class="blogdate">
                <!-- <p>12.5.2022</p> -->
                <p>🕔{{blogdata.createdttm | date }}</p>
                <!-- <img src="" alt=""> -->
            </div>

        </div>

    </div>

</div>