<body>
  <div class="center">
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="onlogin()">
      

        <div class="txt_field">
          <input type="text" name="email" #email="ngModel" [(ngModel)]="loginUserData.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <span></span>
          <label>Email</label>
          <label class="text-danger" *ngIf="form.submitted&&email.errors?.['required']">Email required</label>
          <label class="text-danger" *ngIf="form.submitted&&email.errors?.['pattern']">Email Invalid</label>          
        </div>

        <div class="txt_field">
          <input type="password" minlength="8" name="password" #password="ngModel" [(ngModel)]="loginUserData.password" required>
          <span></span>
          <label>Password</label><br>
          <label class="text-danger" *ngIf="form.submitted&&password.errors?.['required']">Password required</label>
          <label class="text-danger" *ngIf="form.submitted&&password.errors?.['minlength']">Password Invalid</label>
        </div>

        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a routerLink="/signup">Signup</a><br>
          <!-- <a routerLink="/admin">Admin</a> -->
          <!-- <a routerLink="/home"><h6>Home</h6></a> -->
        </div>
    </form>
  </div>
</body>

