*{
    margin: 0;
    top: 0;
    padding: 0;
}

/* html, body {
    height:100%;
    padding:0;
    margin:0;
    background-color: antiquewhite;
   } */

.body{
    top: 0;
    margin: 0;
    width: 100%;
    min-height:685px ;
    /* background-color: antiquewhite; */
    padding: 10px 0;

}

header{
    display: block;
}
header p{
    margin-left:20px;
    padding: 0;
    width: 50px;
    letter-spacing: 8px;
}
header h4{
    margin-right: 20px;
    text-align: right;
    margin-top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wlcmtxt{
    display: grid;
    place-items: center;
    margin-top: 40px;
}

/* #wlcmhead{
    font-family: "Roboto",sans-serif;
    font-size: 35px;
    letter-spacing: .9px;
} */

h2{
    font-family: "Roboto",sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 2.625rem;
    line-height: 1.5;
    font-weight: 100;

    /* letter-spacing: .9px; */
}

#subhead{
    margin-top: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 80;
    font-size: 1.125rem;
    letter-spacing: .9px;

}

.wlcmtxt button{
    margin-top: 40px;
    width: 160px;
    height: 43px;
    color: white;
    background-color:#ffac13 ;
    border: 1px solid #FFC75F ;
    cursor: pointer;
}

.wlcmtxt button:hover{
    background-color:#f8b12f ;


}
/* 
.anipart{
    width: 100%;
    height: 450px;
    border: 2px solid red;
    display: grid;
    place-items: center;
}

.tech{
    width: 600px;
    height: 400px;
    border: 1px solid black;
}
 */
