<div class="body">
    <header>
        <p>ICTK</p>
        <h6>SIGN IN</h6>
    </header>

    <div class="wlcmtxt">
        <!-- <p id="wlcmhead">Publish your passions, your way</p> -->
        <h2>Publish your passions, your way</h2>
        <p id="subhead">Create a unique and beautiful blog easily.</p>
        <button class="btn btn-light"  data-mdb-ripple-color="dark">CREATE YOU BLOG</button>
    </div>
    <!-- <div class="anipart">
        <div class="tech">

        </div>
        
    </div> -->

    
    
</div>