<div class="nav">

  <div class="navbody">
      <div class="head"><h6>TecHRoom</h6></div>

      <div class="items">
        <!-- <i class="fa-light fa-magnifying-glass"></i> -->
        <div class="inp">
          <!-- <i class="fa-duotone fa-backward"></i> -->
          <!-- <i class="fa-light fa-magnifying-glass"></i> -->
          <input type="text" placeholder="TechRoom Search">
        </div>
        <!-- <label for="">popular topics</label> -->
          <!-- <a href="">Add blog</a> -->
          <select name="category" id="cat">
            <option value="all" >popular topics</option>
            <option value="all">FSD</option>
            <option value="all">Cyber Security</option>
            <option value="all">Artificial i</option>

          </select>
  
      </div>
  </div>

</div>

<div class="body">

  <div class="latest">

  </div>



</div>
