<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <!-- <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div> -->
            <!--Grid column-->
  
            <!--Grid column-->
            <!-- <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div> -->
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
            <p>ICT Academy of Kerala is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>

      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 style">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> GF-1 Thejaswini Building, Technopark Rd,<br> Thiruvananthapuram,  Kerala 695581</p>
            <p  class="info1">
              <i class="fas fa-envelope me-3"></i>
              ictkerala@gmail.com
            </p>
            <p class="info"><i class="fas fa-phone me-3"></i> 0466 5465455</p>
            <!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
            <!-- <p>ICT Academy of Kerala is supported by Govt. of India , <br> partnered by Govt. of Kerala and the IT industry.</p> -->
          </div>
  
          <!--Grid column-->
          
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">ICT Academy of Kerala.  All rights reserved.</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->